

.top
{
	margin-top:40px;
	font-size:30px;
	font-family:sans-serif;
	text-align:center;
    font-weight:bold;	
	color:#34495E;
	font-size:40px;
}




#job
{
	font-size:24px;
	font-family:sans-serif;
	background-color:#EAEDED;
	margin-left:32px;margin-right:200px;
	padding-left:20px;
}

#linkc
{  
    color:black;
	text-decoration:none;
}

#linkc:hover
{
	background-color:#19A9AF;
}















